body {

    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 20% 1fr;
    grid-template-rows: 10% 150% 10%;
    background-color: #f4f4f4;
    margin-right: 15%;
    margin-left: 15%;
    
}

header {
    margin: 0%;
    grid-column: 1 / 3;
    height: 0.0001rem;
}

#navbar {

    background-color: #2c3e50;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 2%;
    padding-left: 2%;
    border-radius: 8px;
}

.links {

    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7.5%;
}

.links a {

    color: white;
    font-size: 120%;
    font-weight: bold;
    text-decoration: none;
}

body aside {

    background-color: #2c3e50;
    border-radius: 8px;
    grid-column: 1 / 2;
    width: 100%;
    height: 100%;

}

aside h1 {

    font-size: 1.5rem;
    color: white;
    padding-left: 8%;
    padding-top: 5%;
}

aside nav {

    display: flex;
    flex-direction: column;
    padding-left: 15%;
    padding-top: 10%;



}

aside nav a {

    padding-bottom: 13%;
    color: white;
    font-size: 95%;
    text-decoration: none;
}


main {

    height: 100%;
    grid-column: 2 / 4;
    background-color: #ffffff;
    margin-left: 1.5%;
    border-radius: 8px;
}

main h1 {

    padding-left: 2%;
    padding-top: 2%;
    font-size: 1.5rem;
}

main h2 {

    font-size: 1rem;
    padding-left: 2%;
}

.input-group:nth-child(even){
    background-color: #ecf8ff;
}

.input-group:nth-child(odd){
    background-color: #fff9e6;
}

.input-group {

    height: 10%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 8px;
    margin: 1%;

}



.input-group label {

    margin-bottom: 0.3rem;
    font-weight: 600;
    color: #2c3e50;
}

.input-group input, textarea, select {

    padding: 0.7rem;
    font-size: 1rem;
    border-radius: 8px;
    border: 2px solid #ddd;
}

.input-group input:hover {

    border: 3px solid #3498db;
}

.input:nth-child(even){
    background-color: #ecf8ff;
}

.input:nth-child(odd){
    background-color: #fff9e6;
}

.checkbox1 {

    background-color: #2c3e50;
    display: flex;
}

.neria {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 7vh;
    background-color: green;
}
